/* .Card {
    margin: 3em;
}

.h2{
    color: white
}
.Card .header {
    padding: 0px;
}

.Card .header img {
    display: block;
    border : 2px solid black;
}


.Card .body {
    background-color: rgb(211, 188, 175);
}

.Card .body h2{
    background-color: rgb(128, 128, 185);
    font-size: 20px;
    padding: 10px;
font-style: italic;
}

.Card .body p {
    padding: 10px;
background-color: rgb(211, 188, 175);
font-style: italic;
font-size: 20px;


}
 */


.Card-container{
width: 300px;
overflow: hidden;
box-shadow: 0px 0px 15px -5px;
transition: 0.3s;
animation: ease-in;
}



.Card-container:hover{

    transform: scale(1.1);
box-shadow: 0px 0px 15px 0px;
/* margin-left: 3rem; */
}
.image-container{
overflow: hidden;
height: 200px;

}

.card.content{
margin: 1rem;
margin-top: 0.5rem;
} 


h2,p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
}

.card.title{
    margin-bottom: 0.5rem;
}
.btn{
    display: flex;
    justify-content: center;
}


.btn button{
padding: 0.5rem;
background-color: rgb(109, 101, 101);
border: none;
transition: 0.2s;
margin-bottom: 0.5rem;
border-radius: 3px;
}

.btn button:hover{
background:#FDD2BF;
transform: scale(1.1);
}

a{
text-transform: uppercase;
color: #dc3545;
text-decoration: none;
font-weight: bold;
}