

a{
  color:#dc3545;
    
  }
  
  a:hover{
    color:darkgrey;
  }

  link{
    text-align: center;
  }

  .img{
    width: 150px;
    height: 150px;
  }
  .ingredientHeader{
    
    background-color: rgb(156, 156, 156);
    background-image:
      linear-gradient(
        to bottom,
        #94928db6,
        #333230b6 100%
      );
  }
  